.outerContainer{
    display: flex;
    /* justify-content: center;
    color: navy;
    font-size: 30px; */
}
.outerbox1, .outerbox2{
    display: flex;
    width: 50%;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}
.helloboyDiv{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    /* height: 200px; */
    background: #F5F5F7;
    border-radius: 14px;
    /* padding: 0px 60px; */


}

/* .hijosh{

} */
.hello h1{
    padding: 0;
    color: black;
    /* font-family: Baloo Bhai; */
    font-style: normal;
    margin-bottom: 0;;
    font-weight: bold;
    font-size: 46px;
    line-height: 57px;
}
.hello p{
    padding: 0;
    color: black;
    font-size: 16px;
    line-height: 24px;
    margin:0;
    /* font-family: Baloo Bhai; */
    font-style: normal;
    font-weight: normal;
}
/* .hello{

} */

.contiBox{
    display:flex;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-evenly;
    /* background:#F5F5F7;
    border-radius: 14px; */
}
.continnerbox{
    display: flex;
    background: #F5F5F7;
    border-radius: 14px;
    width: 85%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}
.text1 p{
    margin: 0;
}
.continnerbox button{
    border: none;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;

}
.arrow{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-evenly;
}
.courseheading{
    text-align: left;
    width: 100%;
    /* padding-left: 20px; */
}
.courserating{
    display: flex;
    flex-direction: row;
    color: black;
    width: 100%;
    margin-bottom: 15px;
    
}
.courserating p{
    margin: 0;
    padding: 0px 20px 0px 0px;
    font-size: 15px;
}

.coursebox{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.searchcontainer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.search{
    background: #F5F5F7;
    border-radius: 8px;
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
}
.infouser{
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-evenly;
}
.coursecount{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.compcourse, .progcourse {
    display: flex;
    background: #F5F5F7;
    border-radius: 14px;
    padding: 15px 25px;
    align-items: center;
}
.compcourse h1{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.compcourse p{
    font-size: 16px;
    margin: 0;

    /* font-weight: bold; */
}
.progcourse h1{
    margin: 0;
    font-size: 50px;
    /* font-weight: bold; */
}
.progcourse p{
    margin: 0;
    font-size: 16px;
    /* font-weight: bold; */
}
.status{
    font-size: 20px;
    width: 85%;

}
.hourstatus{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.statusGraph{
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}
.statusstudy{
    border: none;
    cursor: pointer;
    background: #F5F5F7;
    border-radius: 8px;
    /* width: 70px; */
    font-weight: bold;
    outline: none !important;
    height: 30px;
}
.statusgraphpic{
    display: flex;
    width: 85%;
}
.statusgraphpic img{
    width: 100%;
}

.learntextbox button{
    border: none;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;

}
.learntextbox h1{
   font-size: 20px;
}
.learntextbox p{
    font-size: 15px;

}
.learnMoreBox{
    display: flex;
    background: #F5F5F7;
    border-radius: 14px;
    padding: 10px 30px;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}
@media only screen and (max-width: 769px) {
    .outerContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .outerbox1, .outerbox2{
        width: 90%;
        padding: 0;
    }
    .hello h1{
        font-size: 30px;
    }
    .hello p{
        font-size: 11px;
    }
    .hijosh img{
        width: 120px;
    }
    .continnerbox{
        padding: 4px;
        font-size: 10px;
    }
    .continnerbox button {
        padding: 5px 15px;

    }
    .continnerbox img{
        width: 25px;
    }
    .arrow img {
        width: 25px;
        height: 25px;;
    }
    .courserating p{
        font-size: 10px;
    }
    .courseheading {
        font-size: 25px;
        margin: 0px 0px 10px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 770px){
    .learnMoreBox{
        width: auto;
    }
    .hourstatus{
        width: 70%;
    }
    .courserating p {
        /* margin: 0; */
        padding: 0px 10px 0px 0px;
    }
    .continnerbox{
        width: 100%;
    }
}