.footer{
    display: flex;
    padding: 25px;
    background-color: black;
    color: green;
    align-items: center;
    justify-content: center;
}
.footer a{
    color: red;
    font-size: 20px;
}

.footer a:hover{
    color: green;
}